/* Play controls panel */
div.ytp-chrome-bottom {
  left: 0 !important;
  opacity: 1 !important;
  position: fixed;
  background-color: #282828;
  width: 100% !important;
  z-index: 1000;
}

.ytp-left-controls > .ytp-play-button.ytp-button {
  padding: 5px;
}

.ytp-play-button.ytp-button > svg {
  border-radius: 50%;
  outline: white 2px solid;
}

.ytp-right-controls > .ytp-subtitles-button.ytp-button {
  display: none;
}

.ytp-right-controls > .ytp-fullscreen-button.ytp-button {
  display: none;
}

.ytp-right-controls > .ytp-miniplayer-button.ytp-button {
  display: none;
}

.ytp-right-controls > .ytp-size-button.ytp-button {
  display: none;
}

.ytp-volume-panel {
  width: 52px !important;
  margin-right: 3px;
}

/* Send other divs to back */
div#player {
  position: relative;
  z-index: 1;
}

/* Comment section */
ytd-comments#comments {
  display: none;
}

/* Recommended videos */
/* Channel name */
div#byline-container {
  z-index: 0;
}

/* Playback and progress bar on thumbnails*/
ytd-thumbnail-overlay-resume-playback-renderer {
  z-index: 0 !important;
}

/* Thumbnail size */
ytd-thumbnail, ytd-playlist-thumbnail {
  height: 69px !important;
  width: 139px !important;
}

/* Number of views and year of publication */
#metadata-line.ytd-video-meta-block span.ytd-video-meta-block {
  display: none !important;
}

/* Avatar picture*/
a#avatar-link {
  display: none;
}

/* Video player */
div#player-container-outer {
  max-width: 200px !important;
  min-width: 150px !important;
  margin-left: 0 !important;
}

video.video-stream.html5-main-video {
  height: fit-content !important;
  width: 100% !important;
}

/* Video title */
h1.title.style-scope.ytd-video-primary-info-renderer, h1.style-scope.ytd-watch-metadata {
  position: absolute;
  top: 80px;
  left: 240px;
}

@media only screen and (min-width: 1756px) {
  h1.title.style-scope.ytd-video-primary-info-renderer, h1.style-scope.ytd-watch-metadata {
    left: 17%;
  }
}
