/* Play controls panel */
div.ytp-chrome-bottom {
  left: 0 !important;
  opacity: 1 !important;
  position: fixed;
  background-color: #282828;
  width: 100% !important;
  z-index: 1000;
}

.ytp-left-controls > .ytp-play-button.ytp-button {
  padding: 5px;
}

.ytp-play-button.ytp-button > svg {
  border-radius: 50%;
  outline: white 2px solid;
}

.ytp-right-controls > .ytp-subtitles-button.ytp-button {
  display: none;
}

.ytp-right-controls > .ytp-fullscreen-button.ytp-button {
  display: none;
}

.ytp-right-controls > .ytp-miniplayer-button.ytp-button {
  display: none;
}

.ytp-right-controls > .ytp-size-button.ytp-button {
  display: none;
}

/* Send other divs to back */
div#player {
  position: relative;
  z-index: 1;
}

/* Comment section */
ytd-comments#comments {
  display: none;
}

/* Recommended videos */
#text-container > #text.ytd-channel-name {
  display: none;
}